@media (max-width: 375px) {
    body {
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        margin-right: 10px;
        padding-bottom: 100px;
    }

    p{
        font-family: "Lexend Deca", sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: hsla(0, 0%, 100%, 0.75);
    }

    h2 {
        color: hsl(0, 0%, 95%);
        font-family: "Big Shoulders Display", sans-serif;
        font-weight: 700;
        font-size: 47px;
    }
    button{
        background-color: hsl(0, 0%, 95%);
        padding: 15px;
        border-radius: 50px;
        border: none;
    }

    .container {
        width: 340px;
        width: 80% !important;
        background-color: white;
        direction: flex;
        flex-direction: row;
    }

    .car_type {
        /* max-width: 300px; */
        text-align: left;
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 1em;
        padding-bottom: 40px;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 1.2em;
    }

    #sedans {
        background-color: hsl(31, 77%, 52%);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

.seadan_button{
    color:  hsl(31, 77%, 52%);
    
}

#suv{
    background-color: hsl(184, 100%, 22%);
}

.suv_button{
    color:  hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.luxury_button{
    color: hsl(179, 100%, 13%);
}

}